*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 70px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 20px;
}
.appSection{
    display: grid;
    grid-template-columns: 800px auto;
    height: 400px;
}

.herobanner{
    border: 1px solid red;
}

.sidebanner{
    border: 1px solid red;
}
.sidebarSub{
    height: 100px;
    border: 1px solid red;
}


.sidebarLikes{
    height: 100px;
    border: 1px solid red;
}
.herobanner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn{
    height: 55px;
    width: 100px;
     
}

.commentSection{
    height: 150px;
}
.form{
    display: flex;
    flex-direction: column;
}